_libgcc_mutex==0.1
_openmp_mutex==4.5
ambertools==22.5
annotated-types==0.6.0
anyio==4.2.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arpack==3.7.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==23.2.0
babel==2.14.0
beautifulsoup4==4.12.2
bleach==6.1.0
blosc==1.21.5
boost==1.78.0
boost-cpp==1.78.0
brotli==1.1.0
brotli-bin==1.1.0
brotli-python==1.1.0
bson==0.5.9
bzip2==1.0.8
c-ares==1.24.0
c-blosc2==2.12.0
ca-certificates==2023.11.17
cached-property==1.5.2
cached_property==1.5.2
cachetools==5.3.2
cairo==1.18.0
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
colorama==0.4.6
comm==0.2.1
contourpy==1.2.0
cudatoolkit==11.8.0
cycler==0.12.1
cython==3.0.7
dbus==1.13.18
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
entrypoints==0.4
exceptiongroup==1.2.0
executing==2.0.1
expat==2.5.0
fftw==3.3.10
font-ttf-dejavu-sans-mono==2.37
font-ttf-inconsolata==3.000
font-ttf-source-code-pro==2.038
font-ttf-ubuntu==0.83
fontconfig==2.14.2
fonts-conda-ecosystem==1
fonts-conda-forge==1
fonttools==4.47.0
fqdn==1.5.1
freetype==2.12.1
freetype-py==2.3.0
gettext==0.21.1
giflib==5.2.1
glib==2.78.3
glib-tools==2.78.3
gmp==6.3.0
greenlet==3.0.3
gst-plugins-base==1.14.1
gstreamer==1.14.1
hdf4==4.2.15
hdf5==1.14.3
icu==73.2
idna==3.6
importlib-metadata==7.0.1
importlib_metadata==7.0.1
importlib_resources==6.1.1
ipykernel==6.28.0
ipython==8.19.0
ipywidgets==8.1.1
isoduration==20.11.0
jedi==0.19.1
jinja2==3.1.2
jpeg==9e
json5==0.9.14
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.12.1
jsonschema-with-format-nongpl==4.20.0
jupyter==1.0.0
jupyter-lsp==2.2.1
jupyter_client==8.6.0
jupyter_console==6.6.3
jupyter_core==5.7.0
jupyter_events==0.9.0
jupyter_server==2.12.2
jupyter_server_terminals==0.5.1
jupyterlab==4.0.10
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.2
jupyterlab_widgets==3.0.9
keyutils==1.6.1
kiwisolver==1.4.5
krb5==1.20.1
lcms2==2.12
ld_impl_linux-64==2.40
lerc==3.0
libaec==1.1.2
libblas==3.9.0
libbrotlicommon==1.1.0
libbrotlidec==1.1.0
libbrotlienc==1.1.0
libcblas==3.9.0
libclang==14.0.6
libclang13==14.0.6
libcups==2.3.3
libcurl==8.5.0
libdeflate==1.17
libedit==3.1.20191231
libev==4.33
libevent==2.1.12
libexpat==2.5.0
libffi==3.4.2
libgcc-ng==13.2.0
libgfortran-ng==13.2.0
libgfortran5==13.2.0
libglib==2.78.3
libgomp==13.2.0
libiconv==1.17
liblapack==3.9.0
libllvm10==10.0.1
libllvm14==14.0.6
libnetcdf==4.9.2
libnghttp2==1.58.0
libnsl==2.0.1
libopenblas==0.3.25
libpng==1.6.39
libpq==12.15
libsodium==1.0.18
libsqlite==3.44.2
libssh2==1.11.0
libstdcxx-ng==13.2.0
libtiff==4.5.1
libuuid==2.38.1
libwebp==1.3.2
libwebp-base==1.3.2
libxcb==1.15
libxcrypt==4.4.36
libxkbcommon==1.6.0
libxml2==2.12.3
libxslt==1.1.39
libzip==1.10.1
libzlib==1.2.13
lxml==5.0.1
lz4-c==1.9.4
lzo==2.10
markupsafe==2.1.3
matplotlib==3.8.2
matplotlib-base==3.8.2
matplotlib-inline==0.1.6
mda-xdrlib==0.2.0
mdtraj==1.9.9
mistune==3.0.2
munkres==1.1.4
mysql==5.7.20
nbclient==0.8.0
nbconvert==7.14.0
nbconvert-core==7.14.0
nbconvert-pandoc==7.14.0
nbformat==5.9.2
ncurses==6.4
nest-asyncio==1.5.8
netcdf-fortran==4.6.1
networkx==3.2.1
nglview==3.0.8
nomkl==1.0
notebook==7.0.6
notebook-shim==0.2.3
nspr==4.35
nss==3.96
numexpr==2.8.8
numpy==1.26.3
ocl-icd==2.3.1
ocl-icd-system==1.0.0
openbabel==3.1.1
openff-amber-ff-ports==0.0.4
openff-forcefields==2023.11.0
openff-interchange==0.3.18
openff-interchange-base==0.3.18
openff-models==0.1.1
openff-toolkit==0.14.5
openff-toolkit-base==0.14.5
openff-units==0.2.1
openff-utilities==0.1.12
openjpeg==2.5.0
openmm==8.1.0
openmmforcefields==0.12.0
openssl==3.2.0
overrides==7.4.0
packaging==23.2
packmol==20.010
pandas==2.1.4
pandoc==3.1.3
pandocfilters==1.5.0
panedr==0.8.0
parmed==4.2.2
parso==0.8.3
pcre2==10.42
pdbfixer==1.9
perl==5.32.1
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.0.1
pint==0.21
pip==23.3.2
pixman==0.42.2
pkgutil-resolve-name==1.3.10
platformdirs==4.1.0
ply==3.11
prometheus_client==0.19.0
prompt-toolkit==3.0.42
prompt_toolkit==3.0.42
psutil==5.9.7
pthread-stubs==0.4
ptyprocess==0.7.0
pure_eval==0.2.2
py-cpuinfo==9.0.0
pycairo==1.25.1
pycparser==2.21
pydantic==2.5.3
pydantic-core==2.14.6
pyedr==0.8.0
pygments==2.17.2
pyparsing==3.1.1
pyqt==5.15.10
pyqt5-sip==12.13.0
pysocks==1.7.1
pytables==3.9.2
python==3.10.13
python-constraint==1.4.0
python-dateutil==2.8.2
python-fastjsonschema==2.19.1
python-json-logger==2.0.7
python-tzdata==2023.4
python_abi==3.10
pytz==2023.3.post1
pyyaml==6.0.1
pyzmq==25.1.2
qt-main==5.15.2
qtconsole-base==5.5.1
qtpy==2.4.1
rdkit==2023.03.3
readline==8.2
referencing==0.32.1
reportlab==4.0.8
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rlpycairo==0.2.0
rpds-py==0.16.2
scipy==1.11.4
send2trash==1.8.2
setuptools==69.0.3
sip==6.7.12
six==1.16.0
smirnoff99frosst==1.1.0
snappy==1.1.10
sniffio==1.3.0
soupsieve==2.5
sqlalchemy==2.0.25
sqlite==3.44.2
stack_data==0.6.2
terminado==0.18.0
tinycss2==1.2.1
tinydb==4.8.0
tk==8.6.13
tomli==2.0.1
tornado==6.3.3
tqdm==4.66.1
traitlets==5.14.1
types-python-dateutil==2.8.19.20240106
typing-extensions==4.9.0
typing_extensions==4.9.0
typing_utils==0.1.0
tzdata==2023d
unicodedata2==15.1.0
uri-template==1.3.0
urllib3==2.1.0
validators==0.22.0
wcwidth==0.2.12
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
wheel==0.42.0
widgetsnbextension==4.0.9
xkeyboard-config==2.40
xmltodict==0.13.0
xorg-kbproto==1.0.7
xorg-libice==1.1.1
xorg-libsm==1.2.4
xorg-libx11==1.8.7
xorg-libxau==1.0.11
xorg-libxdmcp==1.1.3
xorg-libxext==1.3.4
xorg-libxrender==0.9.11
xorg-libxt==1.3.0
xorg-renderproto==0.11.1
xorg-xextproto==7.3.0
xorg-xproto==7.0.31
xz==5.4.5
yaml==0.2.5
zeromq==4.3.5
zipp==3.17.0
zlib==1.2.13
zlib-ng==2.0.7
zstd==1.5.5
amberlite==22.0
amberutils==21.0
mmpbsa-py==16.0
packmol-memgen==1.2.3rc0
pdb4amber==22.0
pytraj==2.0.6
sander==22.0
